<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<style>
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  box-shadow: none;
  background: #303030;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6a6a6a;
  border: 1px solid #303030;
}
::-webkit-scrollbar-corner {
  background: #303030;
}  
</style>  
</head>
<body class="documents__body"></body>
</html>  